.item-wrapper{
    background-color: #ffd529;
    width: 200px;
    height: max-content;
    max-height: 300px;
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    justify-items: center;
}
.item-wrapper img{
    height: 50px;
    width: 50px;
}
.rating img{
    width: 20px;
    height: 20px;
}