.appContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
    display: flex;
    
}

.navMenu{
    background-color: gray;
    display: grid;
    align-content: center;
    justify-content: center;
}
.navMenuContent{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}
.navMenuContent a {
    text-decoration: none;
    color: black;
}
