.category-container{
    max-width: 1500px;
   
    margin: 0 auto;
    flex: 1;
    display: flex; 
    flex-direction: column;
}
.category-name{
    padding: 5px;
    font-size: 30px;
    font-family: "Courier New" , serif;
    font-weight: bold;
    
}
.advertisment{
    display: flex;
    margin: 10px 0;
    height: 400px;
}
.advertisment img{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}
.subCatBlock {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    padding: 0 10px;
    justify-items: center;
    
    margin: 0 auto;
    
}
.subCatBlock a{
    display: grid;
    margin: 10px 0;
    border: 1px  solid black;
    border-radius: 10px;
    min-width: 80%;
}
.category-items-block{
    display: grid;
    grid-template-columns: 2fr 4px 10fr;
    grid-gap: 5px;
    flex: 1;
}
.just-line{
    border-top: 1px solid gray;
    margin: 10px 1%;
}
.category-items-filtres{
    display: flex;
    flex-direction: column;
}
.category-items-filtres h3{
    color: red;
    margin: 15px auto;
}
.category-items-filtres div{
    padding-left: 10px;
}
.category-items-list{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    
    
}
.testGif{
    width: 500px;
    height: 500px;
    background-image: url("https://tenor.com/ru/view/anime-gif-21658468");
    
}