.item-wrapper{
    min-width: 200px;
    height: max-content;
    min-height: 300px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 0.5rem;
    border-radius: 5%;
    border: 2px solid black;
    color: white;
    
}
.item-wrapper img{
    height: 100px;
    width: 100px;
}